version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5002:5000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5001:80"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    restart: unless-stopped


  mongo:
    image: mongo:latest
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: yourSecurePassword123
      MONGO_INITDB_DATABASE: ai_rextra
    restart: unless-stopped

volumes:
  mongo-data: